In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('data/countries_continents_codes_flags_url.csv')
df = pd.DataFrame(data)
# df

In [ ]:
df['internet_tld'] = df['country_code'].str.lower()
# df

In [ ]:
df['internet_tld'] = '.' + df['internet_tld']
df.dropna(inplace=True)
df

In [ ]:
df.to_csv('data/working_dataset.csv', index=False)

In [28]:
df = pd.read_csv('data/working_dataset.csv')
df

,name,country_code,region,internet_tld,calling_code,official_name
0,Afghanistan,AF,Asia,.af,+93,Afghanistan
1,Albania,AL,Europe,.al,+355,Albania
2,Algeria,DZ,Africa,.dz,+213,Algeria
3,Andorra,AD,Europe,.ad,+376,Andorra
4,Angola,AO,Africa,.ao,+244,Angola
...,...,...,...,...,...,...
194,Cocos (Keeling) Islands,CC,Oceania,.cc,+61 89162,Cocos (Keeling) Islands
195,Republic of Congo,CG,Africa,.cg,+241,Republic Of Congo
196,Democratic Republic Of The Congo,CD,Africa,.cd,+243,Democratic Republic Of The Congo
197,Ivory Coast,CI,Africa,.ci,+225,Ivory Coast
198,Curacao,CW,Americas,.cw,+5999,Curacao